{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<main>
    <style rel="stylesheet" type="text/css" href="styles\style_formularios.css"></style>
    <div class="principal">
        <div class="principal__texto">
            <h1>Iniciar Sesión</h1>
            <p>{{ error }}</p>
            <form action={% url 'home:login' %} method="POST" class="form-login">

                {% csrf_token %}
                <div class="form-login__user">
                    <div class="form-item">
                        <label for="username">Usuario:</label>
                        <input type="text" name="username" id="username" class="form-input" placeholder="Nombre de usuario">
                    </div>
                    <div class="form-item">
                        <label for="password">Contraseña:</label>
                        <input type="password" name="password" id="password" class="form-input" placeholder="Contraseña">
                    </div>
                </div>

                <div class="form-login__botones">
                    <button type="submit" class="form__botones__boton">Login</button>
                </div>
            </form>
        </div>
    </div>
</main>
{% endblock %}