{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="principal">
        <div class="principal__texto">
            <h1>Apartado Clientes</h1>
            <ul class="nav nav-tabs">
                <li><a href="{% url 'compra' %}">Vender almuerzo</a>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'venta' %}">Vender tiquetera </a>
                </li>
            </ul>
            {% block content_clientes %}
            {% endblock  %}
        </div>
    </div>
</main>
{% endblock  %}