{% extends 'home/base.html' %}
{% load static %}

{% block content %}
<main>
    <div class="principal">
        <div class="principal__texto">
            <h1>Apartado Menus</h1>
            <a href="{% url 'menus:crear_menu' %}" class="menu-create-link">
                <p>Crear Menú</p>
            </a>
        </div>
        
        {% if request.user %}
        <div class="menus">
            {% if menus_restaurante %}
                <table class="menus_table">
                    <tr>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>L</th>
                        <th>M</th>
                        <th>M</th>
                        <th>J</th>
                        <th>V</th>
                        <th>S</th>
                        <th>D</th>
                    </tr>
                    {% for menu in menus_restaurante %}
                        <tr>
                            <td>{{ menu.nombre }}</td>
                            <td>{{ menu.descripcion }}</td>
                            <td>
                                {% if menu.lunes %}
                                    <p>Si</p>
                                {% else %}
                                    <p>No</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if menu.martes %}
                                    <p>Si</p>
                                {% else %}
                                    <p>No</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if menu.miercoles %}
                                    <p>Si</p>
                                {% else %}
                                    <p>No</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if menu.jueves %}
                                    <p>Si</p>
                                {% else %}
                                    <p>No</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if menu.viernes %}
                                    <p>Si</p>
                                {% else %}
                                    <p>No</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if menu.sabado %}
                                    <p>Si</p>
                                {% else %}
                                    <p>No</p>
                                {% endif %}
                            </td>
                            <td>
                                {% if menu.domingo %}
                                    <p>Si</p>
                                {% else %}
                                    <p>No</p>
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'menus:editar_menu' menu.id %}" class="menu-edit-link">
                                    <p>Editar</p>
                                </a>
                            </td>
                            <td>
                                <a href="{% url 'menus:eliminar_menu' menu.id %}" class="menu-delete-link">
                                    <p>Eliminar</p>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            {% else %}
                <p>No hay menús creados</p>
            {% endif %}
        </div>
        {% endif %}

    </div>
</main>
{% endblock  %}